<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1100, 350}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>HelveticaNeue</string>
			<key>Size</key>
			<real>13</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{1100, 350}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-02-21 20:40:42 +0000</string>
	<key>Creator</key>
	<string>Troy D Murray</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 px</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{375.60651, 181.64209}, {26.489618, 12.0625}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>1497</integer>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>AdjustableWedge</string>
					<key>ShapeData</key>
					<dict/>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowLabelDrop</key>
					<false/>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>1498</integer>
					<key>Points</key>
					<array>
						<string>{395.73627, 160.36865}</string>
						<string>{671.05103, 159.67334}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>YES</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.916489</string>
								<key>g</key>
								<string>0.916705</string>
								<key>r</key>
								<string>0.916533</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{409.48035, 169.67334}, {248.73105, 60}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>1500</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.25</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red49\green49\blue49;}
\deftab720
\pard\pardeftab720

\f0\fs26 \cf2 Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{404.32709, 123.17334}, {256.93658, 23}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>1501</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.25</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red49\green49\blue49;\red242\green242\blue242;}
\deftab720
\pard\pardeftab720

\f0\b\fs36 \cf2 \cb3 Popover Title}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{396.42542, 159.67334}, {275.52783, 99.5}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1502</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.25</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>4</real>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{396.42542, 118.17334}, {275.00012, 43}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1503</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.950586</string>
										<key>g</key>
										<string>0.95081</string>
										<key>r</key>
										<string>0.950631</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.25</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.892326</string>
										<key>g</key>
										<string>0.892537</string>
										<key>r</key>
										<string>0.892369</string>
									</dict>
									<key>CornerRadius</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{395.39478, 116.17334}, {277.58911, 143}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1504</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.25</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>4</real>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>1499</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>1496</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{295.37222, 181.63965}, {26.5, 12.067227}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1506</integer>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>AdjustableWedge</string>
					<key>ShapeData</key>
					<dict/>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{39.085617, 169.67334}, {248.73105, 60}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>1507</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red49\green49\blue49;}
\deftab720
\pard\pardeftab720

\f0\fs26 \cf2 Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{33.932343, 123.17334}, {256.93658, 23}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>1508</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red49\green49\blue49;\red242\green242\blue242;}
\deftab720
\pard\pardeftab720

\f0\b\fs36 \cf2 \cb3 Popover Title}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{26.030647, 159.67334}, {275.52783, 99.5}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1509</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{27.030823, 118.17334}, {274, 43}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1510</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.950586</string>
								<key>g</key>
								<string>0.95081</string>
								<key>r</key>
								<string>0.950631</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.892326</string>
								<key>g</key>
								<string>0.892537</string>
								<key>r</key>
								<string>0.892369</string>
							</dict>
							<key>CornerRadius</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{25.000008, 116.17334}, {277.58911, 143}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1511</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.25</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>1505</integer>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>356</integer>
			<key>Points</key>
			<array>
				<string>{26.000004, 159.67334}</string>
				<string>{300.65625, 159.67334}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.25</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Cap</key>
					<integer>0</integer>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.916489</string>
						<key>g</key>
						<string>0.916705</string>
						<key>r</key>
						<string>0.916533</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{292.69235, 154.29834}, {108.6207, 75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>345</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Opacity</key>
			<real>0.09801136702299118</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.09801136702299118</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{5, 63}, {690, 267}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1513</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.950586</string>
						<key>g</key>
						<string>0.95081</string>
						<key>r</key>
						<string>0.950631</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.892326</string>
						<key>g</key>
						<string>0.892537</string>
						<key>r</key>
						<string>0.892369</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{5, 18}, {312, 37}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue-Bold</string>
				<key>Size</key>
				<real>30</real>
			</dict>
			<key>ID</key>
			<integer>133</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf320
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red49\green49\blue49;\red135\green135\blue135;}
\deftab720
\pard\pardeftab720\sa160

\f0\b\fs60 \cf2 Popovers 
\b0\fs36 \cf3 bootstrap-popover.js}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-02-22 21:40:17 +0000</string>
	<key>Modifier</key>
	<string>Troy D Murray</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgWQCgRgDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<true/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{996, 229}, {1130, 933}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, -214}, {995, 779}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1.6799999475479126</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
